{%extends 'base.html'%}
{% load static %}
{%block body%}
<h2>Detail</h2>
<h1>제목 : {{article.title}}</h1>
<p>작성자 : {{article.user}}</p>
<p>내용 : {{article.content}}</p>
<p>이미지 : </p>
{#<img src="{{ article.imgfile.url }}" alt="이미지">#}
<p>작성일자 : {{article.created_at}}</p>
<p>수정일자 : {{article.updated_at}}</p>
{%if article.user == request.user%}
<a href="/{{article.pk}}/update/">Edit</a>
<a href="/{{article.pk}}/delete/" onclick="return confirm('정말 삭제하시겠습니까?')">Delete</a>
{%endif%}
<br>
<h3>댓글</h3>
{% for comment in article.comment_set.all %}
<li>{{ comment.user.username }} : {{ comment.content }}</li>
{% endfor %}
<br>
<form action="{% url 'comments_create' article.pk %}" method="POST">
  {%csrf_token%}
  {{form}}
  <button>작성</button>
</form>

<br>
<a href="/">Back</a>
{%endblock%}